<ion-header class="bg-primary white">
  <ion-navbar>
    <ion-title *ngIf="!associations">
      Class
    </ion-title>
    <ion-title *ngIf="associations">{{associations}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!parent">
  <div class="*ngIf =!playing">
    <ion-card class="summary-card">
      <ion-row class="st-analysis no-border">
        <ion-col class="flex">
          <ion-icon name="albums" class="mr-10"></ion-icon>
          <div class="st-analysis-item">
            <div class="lb-title">Class : 5</div>
          </div>
        </ion-col>
        <ion-col class="flex">
          <ion-icon name="book" class="mr-10"></ion-icon>
          <div class="st-analysis-item">
            <div class="lb-title">Topic : {{associations}}</div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="st-analysis">
        <ion-col class="flex">
          <ion-icon name="list-box" class="mr-10"></ion-icon>
          <div class="st-analysis-item">
            <div class="lb-title">Description : <span>{{description}} </span> </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-row class="student-stats" *ngIf='studentStatistics'>
    </ion-row>
    <ion-card>

      <img class="card-image" src={{cardData?.appIcon}} style="height: 100px">

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-md-8>
              <p class="lb-title-2">{{cardData?.name}}</p>
              <p class="lb-title-2">{{cardData?.contentType}}</p>
              <p class="lb-title-2">{{cardData?.description}}</p>
            </ion-col>
            <ion-col col-md-4 text-right class="card-button">
              <button ion-button small outline (click)="alert(cardData)">open</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

    </ion-card>
  </div>
  <div *ngIf="playing">
    <h4 text-center>Playing....</h4>
  </div>
</ion-content>
<ion-content padding *ngIf="parent">
  <div class="*ngIf =!playing">
    <ion-card class="summary-card">
      <ion-row class="st-analysis no-border">
        <ion-col class="flex">
          <ion-icon name="albums" class="mr-10"></ion-icon>
          <div class="st-analysis-item">
            <div class="lb-title">Class : 5</div>
          </div>
        </ion-col>
        <ion-col class="flex">
          <ion-icon name="book" class="mr-10"></ion-icon>
          <div class="st-analysis-item">
            <div class="lb-title">Topic : {{associations}}</div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="st-analysis">
        <ion-col class="flex">
          <ion-icon name="list-box" class="mr-10"></ion-icon>
          <div class="st-analysis-item">
            <div class="lb-title">Description : <span>{{description}} </span> </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-row class="student-stats" *ngIf='studentStatistics'>

    </ion-row>
    <ion-card>

      <img class="card-image" src={{cardData?.appIcon}} style="height: 100px">

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-md-8>
              <p class="lb-title-2">{{cardData?.name}}</p>
              <p class="lb-title-2">{{cardData?.contentType}}</p>
              <p class="lb-title-2">{{cardData?.description}}</p>
            </ion-col>
            <ion-col col-md-4 text-right class="card-button">
              <button ion-button small outline (click)="alert(cardData)">open</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>


    </ion-card>
  </div>
  <div class="topic-details-table">
      <ion-row class="text-center" >
        <ion-col>
          <div class="ft-16 ft-w400 lb-title-2"><b>Name</b></div>
        </ion-col>
        <ion-col>
          <div class="ft-16 ft-w400 lb-title-2"><b>Ratings</b></div>
        </ion-col>
        
      </ion-row>
      <ion-row class="text-center" *ngFor="let detail of details | slice:0:2;">
        <ion-col>
          <div class="ft-16 ft-w400 lb-title-2 ">{{detail.studentId}}</div>
        </ion-col>
        <ion-col>
          <div class="ft-16 ft-w400 lb-title-2 ">{{detail.rate}}</div>
        </ion-col>
        
      </ion-row>
      <ion-row class="text-center">
          <ion-col>
              <div class="ft-16 ft-w400 lb-title-2 ">Average</div>
            </ion-col>
            <ion-col>
              <div class="ft-16 ft-w400 lb-title-2 ">{{avgPerformance}}</div>
            </ion-col>
      </ion-row>
    </div>
    <div #reportcanvas style="overflow: scroll;"></div>
  <div *ngIf="playing">
    <h4 text-center>Playing....</h4>
  </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="!parent" col-md-2 (click)="openMap()">
        <div text-center>
          <ion-icon name="stats" class="mr-10 tertiary-color"></ion-icon>
        </div>
        <div class="lb-title-new" text-center *ngIf="!activePerformance">{{avgPerformance}} %</div>
        <div class="lb-title-new" text-center class="primary-color" *ngIf="activePerformance">{{avgPerformance}} %</div>
      </ion-col>
      <ion-col col-md-2 (click)="alert(revise)">
        <div text-center>
          <ion-icon name="sync" class="mr-7 primary-color"></ion-icon>
        </div>
        <div text-center class="lb-title-new">Revise</div>
      </ion-col>
      <ion-col col-md-2 (click)="alert(recall)">
        <div text-center>
          <ion-icon name="refresh" class="mr-7 primary-color"></ion-icon>
        </div>
        <div text-center class="lb-title-new" text-center>Recall</div>
      </ion-col>
      <ion-col col-md-2 (click)="alert(practise)">
        <div text-center>
          <ion-icon name="wifi" class="mr-7 primary-color"></ion-icon>
        </div>
        <div text-center class="lb-title-new" text-center>Practise</div>
      </ion-col>
      <ion-col col-md-2 (click)="startQuiz(quiz)">
        <div text-center>
          <ion-icon name="refresh" class="mr-7 primary-color"></ion-icon>
        </div>
        <div text-center class="lb-title-new" text-center>Start Quiz</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>