page-perioddetails {
    ion-icon{
        font-size: 1.6em !important;
    }
    .col-inside {
        padding: 0;
    }
    .alignment {
        text-align:center;
        padding: 3px;
        height: 55px;
        margin-top: 15px;
    }
    .btn-card{
        padding: 0;
        border-radius: 11px;
    }
    .new-div {
        margin-bottom: 0;
    }
    .pl-16 {
        padding-left: 16px;
    }
 
    .pl-0 {
        padding-left: 0;
    }
    .card-button{
      margin-top: 5vh;
      float: right !important;
    }
 
    .lb-title {
        font-weight: 420;
        margin-top: 6px;
        font-size: 12px;
        margin-bottom: 6px;
        text-transform: uppercase;
    }
    .lb-title-2 {
        font-weight: 420;
        margin-top: 6px;
        font-size: 12px;
        margin-bottom: 6px;
    }
    .lb-title-new{
        font-weight: lighter;
        font-size: 11px;
        text-transform: uppercase;
        margin-top: 7px;
    }
    .card-image{
        height: 100px;
        width: 162px;
        margin-left: 27%;
    }
 
    .lb-value {
        font-weight: 500;
    }
    .student-stats {
        .card {
            text-align: center;
        }
        ion-icon {
            font-size: 2em;
        }
        .lb-value {
            font-size: 20px;
        }
        span {
            font-size: 12px;
        }
    }
    .browse-diksha-btn {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .appu-image {
        width: 35px;
        height: 35px;
        position: absolute;
        right: 5px;
        bottom: 0;
        &.button {
            padding: 0;
        }
    }
    .wd-85 {
        width: 85%;
    }
    .button-ios{
        height: 1.8em !important;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
    }
  
    .axis text {
        font-family: sans-serif;
        font-size: 13px;
    }
    .red-bg{
        background-color: #87CEEB;
    }
    .orrange-bg{
  background-color: #4F94CD;
    }
    .green-bg {
      background-color: #1874CD
    }
    .topic-details-table {
      border: 1px solid lightgray;
      margin: 20px 0;
      .row {
          border-bottom: 1px solid lightgray;
          &:last-of-type {
              border-bottom: none;
          }
      }
      .col {
          border-right: 1px solid lightgray;
          &   :last-of-type {
              border-right: none;
          }
          div {
              padding: 0px;
          }
      }
  }
  
  .cl-gray-math1 {
    background-color: #87CEEB;
    color: gray;
    margin: 0px auto !important;
    height: 25px;
    width: 25px
  }
  .cl-gray-science {
    background-color:#1874CD;
    color: gray;
    margin: 0px auto !important;
    height: 50px;
    width: 50px
  }
  
  .cl-gray-math2 {
    background-color: #4F94CD;
    color: gray;
    margin: 0px auto !important;
    height: 25px;
    width: 25px
  }
  
  .cl-gray-math3 {
    background-color: #1874CD;
    color: gray;
    margin: 0px auto !important;
    height: 25px;
    width: 25px
  }
    
}
