page-qrscanner {
    .qr-scan-button {
        margin-top: 150%;
    }
    .footer-button{
        text-transform: capitalize; 
        border-radius: 5px; 
        height: 55px;
        margin-right: 5px;
    }

}
