<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div #reportcanvas style="overflow: scroll;"></div>
  <div style="margin-left: 20px">
    {{pageName}} between 0% - 50% -- <span class="red-bg" height="5" width="5">&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </div>
  <div style="margin-left: 20px">
    {{pageName}} between 51% - 74% -- <span class="orrange-bg" height="5" width="5">&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </div>
  <div style="margin-left: 20px">
    {{pageName}} between 75% - 100% -- <span class="green-bg" height="5" width="5">&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </div>

</ion-content>