<ion-header>
  <ion-navbar>
      <ion-title *ngIf="!associations">Subject List</ion-title>
      <ion-title *ngIf="associations">Topics</ion-title>

  </ion-navbar>
</ion-header>
<ion-content padding *ngIf="!associations">
  <div>
    <ion-list padding-top>
      <ion-item *ngFor="let term of terms; let i = index;" class="child-item" (click)="navigateToDetailsPage(term.associations)">
        <span ion-text class="span-semibold">{{term.name}}</span>
        <ion-icon name="ios-arrow-forward" float-end></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-content padding *ngIf="associations">
  <div>
    <ion-list padding-top>
      <ion-item *ngFor="let association of associations; let i = index;" class="child-item" (click)="navigatePeriodDetailsPage(association)">
        <span ion-text class="span-semibold">{{association.name}}</span>
        <ion-icon name="ios-arrow-forward" float-end></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>